@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #FAF5FF ;
}

.cor-primaria{
    color: #7C3AED;
}
.cor-secundaria{
    color: #5B21B6;
}
.texto{
    color: #1E1B4B ;
}
.botao{
    color: #A78BFA;
    border-radius: 25px;

    border-width: 1px;
}

.cabecalho {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}


.sections {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.sections li a {
    text-decoration: none;
    color: #4C766A;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.sections li a:hover {
    color: #7C3AED;
}